@page
@model PrivacyModel
@{
    ViewData["Title"] = "Produtos";
}
<h1>@ViewData["Title"]</h1>
<br/>
<br/>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tijolos</h5>
        <img src="~/imagens/tijolos.jpeg" style=" border-radius:10% ; width:98%; height:87%"/>
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Areias</h5>
        <img src="~/imagens/areia.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Brita</h5>
        <img src="~/imagens/brita.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Furadeiras</h5>
        <img src="~/imagens/furadeira.png" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Fichadeiras</h5>
        <img src="~/imagens/lixadeira.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Chaves</h5>
        <img src="~/imagens/chaves.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Parafusos</h5>
        <img src="~/imagens/parafusos.webp" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Canos</h5>
        <img src="~/imagens/canos.jpeg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Cimento</h5>
        <img src="~/imagens/cimento.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Fios</h5>
        <img src="~/imagens/fios.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Cabo de Rede</h5>
        <img src="~/imagens/cabosrede.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tomadas e Apagadores</h5>
        <img src="~/imagens/tomadas.webp" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Chuveiro</h5>
        <img src="~/imagens/chuveiro.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tintas</h5>
        <img src="~/imagens/tintas.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Pincéis</h5>
        <img src="~/imagens/pinceis.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
@*<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tijolos</h5>
        <img src="~/imagens/tijolos.jpeg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Areias</h5>
        <img src="~/imagens/areia.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Brita</h5>
        <img src="~/imagens/brita.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tijolos</h5>
        <img src="~/imagens/tijolos.jpeg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Areias</h5>
        <img src="~/imagens/areia.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Brita</h5>
        <img src="~/imagens/brita.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tijolos</h5>
        <img src="~/imagens/tijolos.jpeg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Areias</h5>
        <img src="~/imagens/areia.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Brita</h5>
        <img src="~/imagens/brita.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tijolos</h5>
        <img src="~/imagens/tijolos.jpeg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Areias</h5>
        <img src="~/imagens/areia.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Brita</h5>
        <img src="~/imagens/brita.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Tijolos</h5>
        <img src="~/imagens/tijolos.jpeg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Areias</h5>
        <img src="~/imagens/areia.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
    <div class="col-sm-4" style="text-align:center; margin-bottom:6px">
        <h5>Brita</h5>
        <img src="~/imagens/brita.jpg" style=" border-radius:10% ; width:98%; height:87%" />
    </div>
</div>*@